{ns hl7-fhir-uv-smart-app-launch.value-set.smart-launch-types,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Defines Launch Type codes for Tasks that request launch of SMART applications.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/smart-app-launch/CodeSystem/smart-codes",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/smart-app-launch/ValueSet/smart-launch-types",
            :version "2.1.0",
            :ftr {:module "hl7-fhir-uv-smart-app-launch",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
