{ns hl7-fhir-uv-smart-app-launch.smart-app-state-basic,
 import #{zen.fhir hl7-fhir-r4-core.Basic},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "SMART App State profile on Basic resource\n\n**See [App State capability](./app-state.html) for requirements, usage notes, and examples.**",
         :zen.fhir/type "Basic",
         :zen.fhir/profileUri "http://hl7.org/fhir/smart-app-launch/StructureDefinition/smart-app-state-basic",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Basic/schema zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :minItems 1,
                                       :maxItems 1}},
                       :require #{:coding}}}}}
